button{
    height: 30px;
    color: white;
    background-color: rgb(188, 112, 88);
    margin-left: 20px;
    margin-top: 20px;
}

label{
    width: 200px;
    word-wrap: normal;
}

h1{
    font-weight: bold;
    font-size: 2em;
}

h2{
    color: grey;
}

h4{
    font-family: 'Oswald', sans-serif;
    font-size: .7em;
}

body{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

p{
    width: 800px;
    margin: 10px;
    font-size: 1.2em;
    text-indent: 25px;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 10px;
    width: 60%;
    margin-top: 10px;
}

.img-rep{
    background-image: url("../assets/hr-img.png");
    background-repeat: repeat;
    width: 60%;
    height:10px;
    margin: 10px;
}


#header-icons{
    float: right;
}

#header-left{
    display: flex;
    flex-direction: row;
}

#body-top{
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

label{
    width: 400px;
    margin: 5px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

#body-bottom{
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    
}
#img-bottom{
    justify-content: center;
    
}

#van-img{
    margin: 30px;
}

#bullet-area{
    width: 850px;
    height: 250px;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    border: 1px, solid, black;
    background-image: url(../assets/list-bg.png);
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
    align-items: center;

}

#header-img{
    width: 60px;
    height: 60px;
}

#print-icon{
    float: right;
    display: flex;
    flex-direction: row;
}

#print-img{
    width: 18px;
    height: 13px;
    align-self: flex-end;
}

/* #choco-pizza{
    width: 50%;
    height: 50%;

} */

#left-list{
    border: 1px, solid, black;
}

#delicious{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

#print{
    color: grey;
    font-size: small;
    align-self: flex-end;
}

/* 
h1{
    font-size: 2em;
}

h2{
    font-size: .5em;
}

.space-apart{
    justify-content: space-between;
}





.float-right{
    float: right;
}

#header-text{
    float: right;
}

#print-icon{
    width: 13px;
    height: 10px;
} */